.nav-home {
  font-weight: 400;
}

#navbrand {
  margin-left: 1rem;
  border: none;
  background-color: transparent;
  @media (max-width: 768px) {
    margin-top: .75rem;
  }
}

#navbar {
  text-align: right;
  background-color: #e9edf0;
  border: none;
}

#toggleButton {
  margin-right: 22px;
}

.container-fluid {
  margin-right: -15px;
  margin-left: -15px;
  background-color: #e9edf0;
}

.nav-buttons {
  margin-right: .7rem;
  color: rgba(119, 119, 119, 0.7);
  button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    margin-top: 1rem;
    svg {
      margin-right: .5rem;
    }
  }
  button:hover {
    color: rgba(59, 91, 151, 1);
  }
}
