.row {
  margin-top: 4rem;
  font-weight: 300;
}

.shadowed {
  text-shadow: 0 20px 25px rgba(100, 100, 100, 1);
}

hr {
  animation-name: bar-animation;
  animation-delay: 1.5s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#technical-skills {
  @media (max-width: 600px) {
    display: none;
  }

  @media (min-width: 600px) {
    position: absolute;
    width: 100%;
    height: 600px;
    background-image: url('../../assets/showcase-illustration-tranmautritam.webp'); // Image by https://dribbble.com/tranmautritam - Email: hello@tranmautritam.com
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 75%;
    filter: drop-shadow(0 0 40px rgb(148, 148, 148));
  }
}

#presentation {
  @media (max-width: 600px) {
    display: none;
  }

  @media (min-width: 600px) {
    position: absolute;
    width: 100%;
    height: 600px;
    background-image: url('../../assets/presentation-ui_designer-illustration-by_tranmautritam.webp'); // Image by https://dribbble.com/tranmautritam - Email: hello@tranmautritam.com
    background-size: 55%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 95%;
    filter: drop-shadow(0 0 40px rgb(148, 148, 148));
  }
}

@keyframes bar-animation {
  0%,
  100% {
    transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
  }

  0% {
    width: 0%;
    border-top: 1px solid rgb(7, 15, 87);
  }

  75% {
    box-shadow: 0 0 10px rgba(100, 100, 100, 1);
  }

  100% {
    width: 100%;
    border-top: 1px solid white;
    box-shadow: none;
  }
}
