    <article>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="shadowed wow zoomInUp" data-wow-duration="1.5s" data-wow-delay="1s">About me</h1>
            <hr>
            <p class="fadeIn">Information Technology Engineer with many years of experience in maintenance and deployment of hardware
              and software as well as software development. I’m a dedicated developer with a passion for coding and
              problem
              solving. I’m currently focused on mastering my JavaScript and TypeScript skills, both in the front and
              back-end. I’m
              committed to writing clean, maintainable code and providing great user experience. I have a keen interest
              in the best
              UI/UX practices and broadening my knowledge around this area.</p>
            <hr>
<!-- Skills -->
            <h3 id="technical-skills" class="shadowed">Technical skills:</h3>
            <div class="wow fadeInUp" data-wow-duration="1s">
              <h4 id="programming">Programming:</h4>
              <ul>
                <li>TypeScript / JavaScript</li>
                <li>Angular</li>
                <li>NodeJS</li>
                <li>RxJS</li>
                <li>NgRx</li>
                <li>NPM</li>
                <li>HTML5</li>
                <li>CSS/SASS</li>
              </ul>
            </div>
            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <h4 id="version-control-systems">Version Control Systems</h4>
              <ul>
                <li>Git</li>
                <li>BitBucket</li>
              </ul>
            </div>
            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <h4 id="databases">Databases</h4>
              <ul>
                <li>MongoDB</li>
                <li>PostgreSQL</li>
                <li>MySQL</li>
              </ul>
            </div>
            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <h4 id="systems">Systems</h4>
              <ul>
                <li>Linux</li>
                <li>Windows</li>
              </ul>
            </div>
            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <h4 id="services">Services</h4>
              <ul>
                <li>Active Directory</li>
                <li>LDAP</li>
                <li>DNS</li>
                <li>DHCP</li>
                <li>WWW servers</li>
                <li>sharing network resources (samba, nfs, scp, ftp)</li>
              </ul>
            </div>
            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
              <hr />
            </div>
<!-- Personal studies -->
            <!-- <h3 id="conferences--meetups" class="shadowed wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Personal studies</h3> -->
            <!-- site-personal-studies -->
<!-- Conferences Meetups -->
            <h3 id="conferences-meetups" class="shadowed wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              Conferences &amp; Meetups</h3>
            <site-meetup-details></site-meetup-details>
          </div>
        </div>
      </div>
    </article>
<!-- Footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-2 col-md-offset-1">
            <p class="text-muted text-left "><a href="https://github.com/PiotrKieltyka"></a></p>
          </div>
          <div class="col-xs-12 col-md-6 col-md-offset-2">
            <a class="section-jump" onclick="window.scroll({top: 0, left: 0, behavior: 'smooth'})">
              <i class="fa fa-angle-up fa-3x"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
