div {
  color: rgb(7, 15, 87);
  margin-top: 100px;
  filter: brightness(.9);
  @media (max-width: 599px) {
    h2 {
      font-size: 1.7rem;
    }
    h4 {
      font-size: 1.2rem;
    }
  }
}
img {
  height: auto;
  max-width: 75%;
  @media (min-width: 850px) {
    width: 640px;
    height: 480px;
  }
}
