.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}

.row {
  margin: 1.5rem;
}

button {
  font-size: 1.3rem;
  border-width: 1px;
  border-radius: 4px;
  padding: 0 10px;
  line-height: 34px;
  background: transparent;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  &:hover {
    background-color: rgba(119, 119, 119, .1);
    opacity: .8;
    cursor: pointer;
  }
}