.cards {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-background {
  position: relative;
  border-radius: 10px;
  background-image: url('../../assets/polygon-lines-background_1035-7063.jpg');
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
  transition: .5s ease-in-out;
  &:hover {
    background-size: 135%;
  }
}

.overlay {
  color: #ccc;
  position: absolute;
  left: -10%;
  bottom: -30%;
  display: block;
  background: rgb(127, 129, 127);
  height: 130px;
  width: 305px;
  transform: rotate(-3deg) translate3d(0, 0, 0);
  border-radius: 10px;
  text-align: right;
  padding-right: 1.5rem;
  transition: .3s all ease-in-out;
  transition-delay: .1s;
}

.card {
  margin: 40px auto;
  height: 350px;
  max-width: 275px;
  min-width: 275px;
  width: 100%;
  box-shadow: 0 20px 25px 0 rgba(100, 100, 100, .5), 0 0 25px rgba(100, 100, 100, .5);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, .9);
  background-color: rgba(241, 242, 246, .5);
  text-align: center;
  &:hover .overlay {
    bottom: -22%;
    color: rgb(238, 238, 238);
  }
  svg:nth-child(1) {
    color: rgba(255, 255, 255, .9);
    position: absolute;
    transform: translateX(-95px) translateY(13px);
  }
  svg:nth-child(n+2) {
    color: rgb(163, 168, 245);
    position: absolute;
    transform: translateX(75px) translateY(13px);
  }
  &:hover {
    svg:nth-child(n+2) {
      color: rgb(0, 114, 0);
    }
  }
}

h4 {
  font-size: 1.8rem;
  transform: rotate(-3deg);
  text-align: center;
  margin-bottom: 5px;
  padding: 0;
  color: rgba(0, 0, 0, .9);
  text-shadow: 0 0 2px rgba(119, 119, 119, .8);
  font-family: 'Roboto Slab', serif;
  margin-top: 3%;
  font-weight: 400;
  line-height: 1;
}

h6 {
  font-size: 1rem;
  transform: rotate(-3deg);
  text-align: center;
  margin-bottom: 5px;
  padding: 0;
  color: rgba(0, 0, 0, .7);
  font-family: 'Roboto Slab', serif;
  margin-top: 3%;
  font-weight: 400;
  line-height: 1;
}

hr {
  border-top: 1px solid white;
  width: 75%;
  transform: rotate(-3deg);
  box-shadow: 0 0 2px 0 rgba(119, 119, 119, .6);
}

p {
  font-family: 'Roboto Slab', serif;
  color: rgba(black, .8);
  width: 85%;
  padding: 0;
  text-align: left;
  margin: 7px auto 0 20px;
  font-weight: 100;
  font-size: 1.2rem;
}
