.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 40px auto;
  height: 350px;
  max-width: 275px;
  min-width: 275px;
  width: 100%;
  box-shadow: 0px 20px 25px 0px rgba(100, 100, 100, .5), 0px 0px 25px rgba(100, 100, 100, .5);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  &:hover .overlay {
    bottom: -25%;
    color: rgb(238, 238, 238);
  }
}

h4 {
  font-size: 1.8rem;
  transform: rotate(-3deg);
  text-align: center;
  margin-bottom: 5px;
  padding: 0;
  color: rgba(0, 0, 0, .9);
  text-shadow: 0px 0px 2px rgba(119, 119, 119, .8);
  font-family: 'Roboto Slab';
  margin-top: 5%;
  font-weight: 400;
  line-height: 1;
}

h6 {
  font-size: 1rem;
  transform: rotate(-3deg);
  text-align: center;
  margin-bottom: 5px;
  padding: 0;
  color: rgba(0, 0, 0, .7);
  font-family: 'Roboto Slab';
  margin-top: 5%;
  font-weight: 400;
  line-height: 1;
}

hr {
  border-top: 1px solid white;
  width: 75%;
  transform: rotate(-3deg);
  box-shadow: 0px 0px 2px 0px rgba(119, 119, 119, .6);
}

p {
  font-family: 'Roboto Slab', serif;
  color: rgba(black, .8);
  width: 85%;
  padding: 0;
  margin: 0 auto;
  margin-top: 7px;
  text-align: left;
  margin-left: 20px;
  font-weight: 100;
  font-size: 1.2rem;
}

.overlay {
  color: #cccccc;
  position: absolute;
  left: -10%;
  bottom: -40%;
  display: block;
  background: #777777;
  height: 170px;
  width: 500px;
  transform: rotate(-3deg) translate3d(0,0,0);
  border-radius: 10px;
  text-align: center;
  transition: .3s all ease-in-out;
  transition-delay: .1s;
}
