<div class="container">
  <div id="blog-logo" class="animate__animated animate__fadeIn"></div>
  <!-- Blog Logo by https://dribbble.com/tranmautritam - Email: hello@tranmautritam.com -->
  <button *ngIf="authService.isLoggedIn" mat-stroked-button class="mat-stroked-button mat-button-base" (click)="openAddPostDialog()">add post</button>
  <div class="row" *ngFor="let blogpost of blogposts">
    <div class="col-md-10 col-md-offset-1"  data-aos="fade-up" data-aos-duration="1000">
      <div class="col-md-4 blog-column-1">
        <h3>{{ blogpost.title }}</h3>
        <h6>{{ blogpost.date }}</h6>
      </div>
      <div class="col-md-8 blog-column-2">
        <span [innerHTML]="blogpost.content"></span>
        <p><button *ngIf="authService.isLoggedIn" mat-stroked-button class="mat-stroked-button mat-button-base" (click)="openEditPostDialog(blogpost._id)">edit</button></p>
        <hr id="blog-line"/>
        <a *ngIf="blogpost.link" href="{{ blogpost.link }}">Learn more</a>
      </div>
    </div>
  </div>
</div>
