.container {
  margin-top: 6rem;
  // border: 4px solid rgba(21, 9, 6, 1);
  border-radius: 20px;
  // box-shadow: 0px 30px 65px 10px rgba(21, 9, 6, .6);
  padding: 1rem;
}
#blog-logo {
  height: 475px;
  background-image: url('../../assets/cesis-studio-illustration-tranmautritam.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: center;
  @media (max-width: 1199px) {
    height: 360px;
  }
  @media (max-width: 991px) {
    height: 280px;
  }
  @media (max-width: 650px) {
    height: 240px;
  }
}
.row {
  margin-top: 7rem;
  margin-bottom: 7rem;
  text-align: center;
}
.blog-column-1 {
  // height: 150px;
  text-shadow: 0px 20px 25px rgba(100, 100, 100, 1);
  h6 {
    font-style: italic;
  }
  @media (min-width: 992px) {
    border-right: 1px solid rgba(119, 119, 119, .7);
  }
  @media (max-width: 991px) {
    border-top: 1px solid rgba(119, 119, 119, .7);
    width: 50%;
    margin: auto;
  }
}
.blog-column-2 {
  font-size: 1.2em;
  text-shadow: 0px 20px 25px rgba(100, 100, 100, 1);
  hr {
    margin-bottom: 0;
    max-width: 20%;
    animation-name: bar-animation;
    animation-delay: 1.5s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  a {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 1.3rem;
  }
}

@keyframes bar-animation {
  0%,
  100% {
    transition-timing-function: cubic-bezier(1, 0, .65, .85);
  }
  0% {
    width: 0%;
    border-top: 1px solid rgb(7, 15, 87);
  }
  75% {
    box-shadow: 0 0 10px rgba(100, 100, 100, 1);
  }
  100% {
    width: 20%;
    border-top: 1px solid white;
    box-shadow: none;
  }
}
