.shadowed {
  text-shadow: 0px 20px 25px rgba(100, 100, 100, 1);
}

.box-shadowed {
  font-weight: 300;
  border-radius: 6px;
  box-shadow: 0px 20px 25px 0px rgba(100, 100, 100, .5);
}

.btn:hover {
  color: rgb(7, 15, 87);
  animation-play-state: paused;
}

.breath {
  animation-delay: 1s;
  animation: box-breath 3s infinite alternate ease-in-out;
  will-change: box-shadow;
}

.tags span:nth-child(n):hover {
  color: rgb(7, 15, 87);
}

.tags span:nth-child(n):after {
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  background: rgb(7, 15, 87);
  transition: width .3s ease 0s, left .3s ease 0s;
  width: 0;
}

.tags span:nth-child(n):hover:after {
  width: 100%;
  left: 0;
}

@keyframes box-breath {
  from { box-shadow: 0px 20px 25px 0px rgba(100, 100, 100, .5); }
  to { box-shadow: 0px 0px 0px 0px white; }
}
