<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="hero-container">
        <!-- OWL -->
        <div id="owl">
          <div id="owl-character">
            <div id="eyes" class="eyes"></div>
            <div class="arm-down-left"></div>
            <div class="arm-down-right"></div>
          </div>
        </div>
        <!-- OWL end -->
        <div class="hero-content">
          <!-- Statusbar -->
          <span class="time wow flipInX" data-wow-delay="1.5s">{{
            time | date: "HH:mm:ss"
          }}</span>
          <span class="icon"><svg width="15" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M292.6 171.1L249.7 214l-.3-86 43.2 43.1m-43.2 219.8l43.1-43.1-42.9-42.9-.2 86zM416 259.4C416 465 344.1 512 230.9 512S32 465 32 259.4 115.4 0 228.6 0 416 53.9 416 259.4zm-158.5 0l79.4-88.6L211.8 36.5v176.9L138 139.6l-27 26.9 92.7 93-92.7 93 26.9 26.9 73.8-73.8 2.3 170 127.4-127.5-83.9-88.7z"
                class=""></path>
            </svg></span>
          <span class="icon"><svg width="15" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
              <path fill="currentColor"
                d="M208 288h-32c-4.42 0-8 3.58-8 8v208c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V296c0-4.42-3.58-8-8-8zM80 384H48c-4.42 0-8 3.58-8 8v112c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V392c0-4.42-3.58-8-8-8zm256-192h-32c-4.42 0-8 3.58-8 8v304c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V200c0-4.42-3.58-8-8-8zm128-96h-32c-4.42 0-8 3.58-8 8v400c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V104c0-4.42-3.58-8-8-8zM592 0h-32c-4.42 0-8 3.58-8 8v496c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V8c0-4.42-3.58-8-8-8z"
                class=""></path>
            </svg></span>
          <span class="icon"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
              <path fill="currentColor"
                d="M560 128c8.823 0 16 7.177 16 16v48h32v128h-32v48c0 8.823-7.177 16-16 16H48c-8.823 0-16-7.177-16-16V144c0-8.823 7.177-16 16-16h512m0-32H48c-26.51 0-48 21.49-48 48v224c0 26.51 21.49 48 48 48h512c26.51 0 48-21.49 48-48v-16h8c13.255 0 24-10.745 24-24V184c0-13.255-10.745-24-24-24h-8v-16c0-26.51-21.49-48-48-48zM128 314V198a6 6 0 0 0-6-6h-20a6 6 0 0 0-6 6v116a6 6 0 0 0 6 6h20a6 6 0 0 0 6-6zm64 0V198a6 6 0 0 0-6-6h-20a6 6 0 0 0-6 6v116a6 6 0 0 0 6 6h20a6 6 0 0 0 6-6zm64 0V198a6 6 0 0 0-6-6h-20a6 6 0 0 0-6 6v116a6 6 0 0 0 6 6h20a6 6 0 0 0 6-6zm64 0V198a6 6 0 0 0-6-6h-20a6 6 0 0 0-6 6v116a6 6 0 0 0 6 6h20a6 6 0 0 0 6-6zm64 0V198a6 6 0 0 0-6-6h-20a6 6 0 0 0-6 6v116a6 6 0 0 0 6 6h20a6 6 0 0 0 6-6zm64 0V198a6 6 0 0 0-6-6h-20a6 6 0 0 0-6 6v116a6 6 0 0 0 6 6h20a6 6 0 0 0 6-6z"
                class=""></path>
            </svg></span>
          <!-- Statusbar end -->
          <!-- Particles component -->
          <site-particles></site-particles>
          <!-- Particles component end -->
          <!-- Text area -->
          <h1 id="introduce" class="text-center shadowed">Hello. I'm Piotr Kieltyka.</h1>
          <p class="text-center shadowed wow pulse" data-wow-duration="3s" data-wow-delay="2s"
            id="home_site_description">
            I’m a dedicated developer with a passion for coding and problem solving.<br />
            <a class="typeform wow flash" data-wow-duration="3s" data-wow-delay="5s" href="https://piotrkieltyka.typeform.com/to/l1iZVj">Why not get in touch?</a>
          </p>
          <!-- Text area end -->
          <!--  Github button -->
          <div id="github" class="hero-buttons wow fadeIn" data-wow-duration="2s" data-wow-delay="1.5s">
            <a href="https://github.com/PiotrKieltyka">
              <button mat-button class="btn btn-default btn-lg box-shadowed breath">
                <i class="fab fa-github fa-lg"></i>
                Github
              </button>
            </a>
          </div>
          <!-- Github button end -->
          <div class="text-center">
            <span>
              <svg routerLink="/login" routerLinkActive="active" onclick="window.scroll({top: 0, left: 0, behavior: 'smooth'})" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm216 248c0 118.7-96.1 216-216 216-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216z"></path></svg>
            </span>
          </div>
        </div>
      </div>
      <div class="typewriter-container">
        <a class="section-jump text-center" onclick="window.scroll({top: 1100, behavior: 'smooth'})">
          <div class="typewriter">
            <p>Developers don't talk much,</p>
            <p>their code does all the talking.</p>
          </div>
          <i class="fa fa-angle-down fa-3x"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Projects -->
<main id="portfolio">
  <div class="container">
    <div class="row">
      <hr />
      <div class="col-md-12">
        <h2 class="section-title text-center"></h2>
        <p class="section-subtitle text-center"></p>
        <div class="break"></div>
        <!-- Projects list -->
        <site-project-details></site-project-details>
        <!-- Projects list end -->
      </div>
    </div>
  </div>
</main>
<!-- Projects end -->
<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-2 col-md-offset-1">
        <p class="text-muted text-left">
          <a href="https://github.com/PiotrKieltyka"></a>
        </p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-2">
        <a class="section-jump" onclick="window.scroll({top: 0, left: 0, behavior: 'smooth'})">
          <i class="fa fa-angle-double-up fa-3x"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- Footer end -->
