.shadowed {
  text-shadow: 0px 20px 25px rgba(100, 100, 100, 1);
}

.box-shadowed {
  font-weight: 400;
  box-shadow: 0px 20px 25px 0px rgba(100, 100, 100, .5);
}

.btn:hover {
  color: rgba(59, 91, 151, 1);
}

.hero-content {
  border: 4px solid rgba(21, 9, 6, 1);
  border-radius: 20px;
  box-shadow: 0px 20px 25px 0px rgba(21, 9, 6, .4);
  padding: 1rem;
  text-align: right;
  background-image: url('../../assets/tabletbg.png');
  background-position-y: 115px;
  background-repeat: no-repeat;
}

.time {
  float: left;
  margin: 0 0 0 .3rem;
}

.icon {
  margin: 0 .5rem 0 .5rem;
}

.breath {
  animation-delay: 1s;
  animation: box-breath 3s infinite alternate ease-in-out;
  will-change: box-shadow;
}

#owl {
  margin-left: 50%;
  transform: translate(-17.5%);
}

#owl-character {
  width: 116px;
  height: 92px;
  background-image: url(https://cdn.readme.io/img/login/face.png);
}

#owl-character .arm-down-left {
  width: 43px;
  height: 25px;
  background-image: url(https://cdn.readme.io/img/login/arm-down-left.png);
  position: absolute;
  margin-top: 65px;
  margin-left: -30px;
}

#owl-character .arm-down-right {
  width: 43px;
  height: 26px;
  background-image: url(https://cdn.readme.io/img/login/arm-down-right.png);
  position: absolute;
  margin-top: 65px;
  margin-left: 110px;
}

#owl-character .eyes {
  width: 116px;
  height: 92px;
  background-image: url(https://cdn.readme.io/img/login/eyes.png);
  position: absolute;
  opacity: 0;
}

#owl-character .eyes-blink {
    opacity: 1;
}

#owl-character .eyes:hover {
    opacity: 1;
    cursor: progress;
}

#github {
  @media (max-width: 768px) {
    margin-bottom: 2.5rem;
  }
}

.typewriter-container {
  justify-content: center;
  align-items: center;
}

.typewriter p {
  cursor: pointer;
  color: #a0acb4;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  margin-bottom: 1rem;
  animation: 
    typing 3.5s steps(30, end);
  animation-fill-mode: both;
  &:nth-child(1) {
    animation-delay: 2s;
  }
  &:nth-child(2) {
    animation-delay: 5s;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes box-breath {
  from { box-shadow: 0px 20px 25px 0px rgba(100, 100, 100, .5); }
  to { box-shadow: 0px 0px 0px 0px white; }
}
