.shadowed {
  text-shadow: 0px 20px 25px rgba(100, 100, 100, 1);
}

.box-shadowed {
  font-weight: 400;
  box-shadow: 0px 20px 25px 0px rgba(100, 100, 100, .5);
}

#owl {
  margin-left: 50%;
  transform: translate(-17.5%);
}

#owl-character {
  width: 116px;
  height: 92px;
  background-image: url(https://cdn.readme.io/img/login/face.png);
}

#owl-character .arm-down-left {
  width: 43px;
  height: 25px;
  background-image: url(https://cdn.readme.io/img/login/arm-down-left.png);
  position: absolute;
  margin-top: 65px;
  margin-left: -30px;
}

#owl-character .arm-down-right {
  width: 43px;
  height: 26px;
  background-image: url(https://cdn.readme.io/img/login/arm-down-right.png);
  position: absolute;
  margin-top: 65px;
  margin-left: 110px;
}

#owl-character .eyes {
  width: 116px;
  height: 92px;
  background-image: url(https://cdn.readme.io/img/login/eyes.png);
  position: absolute;
  opacity: 0;
}

#owl-character .eyes-blink {
    opacity: 1;
}

#owl-character .eyes:hover {
    opacity: 1;
    cursor: progress;
}
