.shadowed {
  text-shadow: 0px 20px 25px rgba(100, 100, 100, 1);
}

.box-shadowed {
  font-weight: 400;
  box-shadow: 0px 20px 25px 0px rgba(100, 100, 100, .5);
}

.btn:hover {
  color: rgba(59, 91, 151, 1);
}

.hero-content {
  border: 4px solid rgba(21, 9, 6, 1);
  border-radius: 20px;
  box-shadow: 0px 30px 65px 10px rgba(21, 9, 6, .6);
  padding: 1rem;
  text-align: right;
  background-image: url('../../assets/tabletbg.png');
  background-repeat: no-repeat;
}

.time {
  float: left;
  margin: 0 0 0 .3rem;
  color: rgb(51, 51, 51);
}

.icon {
  margin: 0 .5rem 0 .5rem;
}

.breath {
  animation-delay: 1s;
  animation: box-breath 3s infinite alternate ease-in-out;
  will-change: box-shadow;
}

#owl {
  margin-bottom: -11px;
  transform: translate(-17.5%);
  @media (max-width: 655px) {
    margin-left: 48%;
  }
  @media (min-width: 656px) {
    margin-left: 50.5%;
  }
  @media (min-width: 992px) {
    margin-left: 52.5%;
  }
  @media(min-width: 1200px) {
    margin-left: 53.5%;
  }
}

#owl-character {
  width: 116px;
  height: 92px;
  background-image: url(https://cdn.readme.io/img/login/face.png);
  .arm-down-left {
    width: 43px;
    height: 25px;
    background-image: url(https://cdn.readme.io/img/login/arm-down-left.png);
    position: absolute;
    margin-top: 65px;
    margin-left: -30px;
  }
  .arm-down-right {
    width: 43px;
    height: 26px;
    background-image: url(https://cdn.readme.io/img/login/arm-down-right.png);
    position: absolute;
    margin-top: 65px;
    margin-left: 110px;
  }
  .eyes {
    width: 116px;
    height: 92px;
    background-image: url(https://cdn.readme.io/img/login/eyes.png);
    position: absolute;
    opacity: 0;
  }
  .eyes-blink {
    opacity: 1;
  }
  .eyes:hover {
    opacity: 1;
    cursor: progress;
  }
}

#github {
  @media (max-width: 768px) {
    margin-bottom: 2.5rem;
  }
}

hr {
  border-top: 1px solid white;
}

.typewriter-container {
  justify-content: center;
  align-items: center;
}

.typewriter p {
  cursor: pointer;
  color: rgb(160, 172, 180);
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  margin-bottom: 1rem;
  animation: typing 3.5s steps(30, end);
  animation-fill-mode: both;
  filter: drop-shadow(0 15px 10px #555);
  &:nth-child(1) {
    animation-delay: 2s;
  }
  &:nth-child(2) {
    animation-delay: 5s;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes box-breath {
  from { box-shadow: 0px 20px 25px 0px rgba(100, 100, 100, .5); }
  to { box-shadow: 0px 0px 0px 0px white; }
}
